* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-modal{
    margin: 2rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 4px;
    color: #666;
    transition:  all .4s ease;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  visibility: hidden;
  transition:  all .4s ease;
}
.modal-backdrop.show{
    opacity: 1;
    visibility: visible;
}
.modal-container {
  position: relative;
  /* độ rộng không quá 600px và khi có lại còn 90% độ rộng màn hình */
  width: min(600px, 90%);
  background: #fff;
  padding: 4rem 1.5rem;
  border-radius: 5px;
  transform: scale(0);
  transition: all .4s ease;
}
.modal-backdrop.show .modal-container{
    transform: scale(1);
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  color: #666;
  font-size: 1.2rem;
  border-radius: 50%;
  transition: all .3s ease;
}
.modal-close:hover, .btn-modal:hover{
    color: #fff;
    background: orange;
}

.modal-content{
    max-height: 80vh;
    overflow: auto;
}
.croll-hidden{
  overflow: hidden;
}
